<!-- pages/ImageSegmentation/EdgeBasedSegmentation/EdgeBasedSegmentation.html -->

{% comment %} <div class="container mt-5">
    <h2>Edge-Based Segmentation</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Segment Image</button>
    </form>

    {% if uploaded_image %}
        <h3>Uploaded Image</h3>
        <img src="{{ uploaded_image.original_image.url }}" class="img-fluid" alt="Uploaded Image">

        {% if segmented_image_url %}
            <h3>Segmented Image</h3>
            <img src="{{ segmented_image_url }}" class="img-fluid" alt="Segmented Image">
        {% endif %}
    {% endif %}
</div> {% endcomment %}


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
	<meta name="author" content="NobleUI">
	<meta name="keywords" content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<title>Edge Based Segmentation</title>

  {% include "includes/loadstatic.html" %}

 
</head>
<body>
	<div class="main-wrapper">

		{% include "partials/_sidebar.html" %}
        {% include "partials/_setting.html" %}

		<div class="page-wrapper">
				
			{% include "partials/_navbar.html" %}

			<div class="page-content">

				<nav class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Image Segmentation</a></li>
						<li class="breadcrumb-item active" aria-current="page">Edge Based Segmentation</li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Edge Based Segmentation</h4>
                                <p class="text-muted"> </p>                  
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-8">
                                <div class="mb-3">
                                {% comment %} <input class="form-control" type="file" id="cropperImageUpload"> {% endcomment %}
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% comment %} {{ form.as_p }} {% endcomment %}
                                        <div class="form-group mb-4">
                                            {{ form.original_image.label_tag }}
                                            {{ form.original_image }}
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary crop mb-2">Segment Image</button>
                                    </form>
                                </div>
                                <div>
                                {% comment %} <img src="{% static 'images/others/placeholder.jpg' %}" class="w-100" id="croppingImage" alt="cropper"> {% endcomment %}
                                    <img class="w-100" src="{{ uploaded_image.original_image.url }}" class="img-fluid" alt="Uploaded Image">
                                </div>
                                
                            </div>
                            <div class="col-md-4 ms-auto">
                                {% comment %} <h6 class="text-muted mb-3">Segmented Image: </h6> {% endcomment %}
                                {% comment %} <img class="w-100 cropped-img mt-2" src="#" alt=""> {% endcomment %}
                                {% if segmented_image_url %}
                                    <h6 class="text-muted mb-3">Segmented Image</h6>
                                    <img src="{{ segmented_image_url }}" class="img-fluid" alt="Segmented Image">
                                {% endif %}
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
			{% include "partials/_footer.html" %}
		</div>
	</div>
</body>
</html>